.mainList {
  max-height: 614px;
  overflow: auto;
}
.main {
  display: flex;
  padding: 15px 20px;
  .avatar {
    align-items: end;
    display: flex;
  }
  .content {
    padding-left: 13px;
  }
}
.messageText {
  padding: 7px 12px;
  max-width: 300px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    strong {
      color: rgb(81, 146, 7);
      font-weight: 500;
      font-size: 16px;
    }
  }
  .body {
    padding: 10px 10px 20px 10px;
    font-size: 15px;
    font-weight: 500;
    word-wrap: break-word;
  }
}
.you {
  justify-content: flex-start;
}
.me {
  justify-content: flex-end;
}
